<!--検索フォーム-->
<%= search_form_for @qq do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%= f.text_field :description_cont %>
  <%= f.submit "検索" %>
<% end %>
<!--検索結果-->
<% if @qqmytasks.present? %>
  <!--検索がヒットした場合-->
  <% @qqmytasks.each do |qqmytask| %>
    <iframe
        src="https://www.youtube.com/embed/<%= qqmytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= qqmytask.description %>
  <% end %>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>

