<h1>自分タスク一覧ページ</h1>
<%= link_to "アカウント編集", edit_user_registration_path %></br>

<%= link_to "新しいタスクの追加", new_my_task_path %></br>

<<<<<<< Updated upstream
=======
<input type="button" value="小さく" onclick="resizeByWidth(160, 90);">
<input type="button" value="大きく" onclick="resizeByWidth(384, 216);">
<%= javascript_tag 'resize' %>

>>>>>>> Stashed changes
<tr>
  <th><%= sort_link(@q, :created_at, "作成日順") %></th>
</tr></br>

<input type="button" value="小さく" onclick="resizeByWidth(160, 90);">
<input type="button" value="大きく" onclick="resizeByWidth(384, 216);">

<!--検索フォーム-->
<%= search_form_for @q, url: my_tasks_path do |f| %>
  <%= f.text_field :description_cont %>
  <%= f.submit "検索" %>
<% end %>

<script>
function resizeByWidth( nsW, nsH ) {
  for (i = 1; i<100; i++){
  var targetImg = document.getElementById(`mytask${i}`);
   targetImg.width = nsW;
   targetImg.height = nsH;
  }
}
</script>

  <% @mytasks.each do |mytask| %>
<<<<<<< Updated upstream
    <iframe width=384" height="216" id="mytask<%= mytask.id %>"
=======
    <iframe width="384" height="216" class="mytask"
>>>>>>> Stashed changes
        src="https://www.youtube.com/embed/<%= mytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= mytask.description %>
      <%= link_to '編集', edit_my_task_path(mytask) %>
  <% end %>