<h1>自分タスク一覧ページ</h1>
<%= link_to "アカウント編集", edit_user_registration_path %></br>

<%= link_to "新しいタスクの追加", new_my_task_path %></br>

<input type="button" value="小さく" onclick="resizeByWidth(160, 90);">
<input type="button" value="大きく" onclick="resizeByWidth(384, 216);">
<%= javascript_tag 'resize' %>

<tr>
  <th><%= sort_link(@q, :created_at, "作成日順") %></th>
</tr></br>

<!--検索フォーム-->
<%= search_form_for @q, url: my_tasks_path do |f| %>
  <%= f.text_field :description_cont %>
  <%= f.submit "検索" %>
<% end %>

<%= form_with(url: my_tasks_path, method: :delete, local: true) do |f| %>
<%= f.submit "一括削除" %></br>

  <% @mytasks.each do |mytask| %>
    <iframe width="384" height="216" class="mytask"
        src="https://www.youtube.com/embed/<%= mytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= mytask.description %>
      <%= link_to '編集', edit_my_task_path(mytask) %>
      <%= link_to '削除', my_task_path(mytask), method: :delete %>
      <%= check_box_tag "deletes[#{ mytask.id }]", mytask.id %>
  <% end %>

  <% end %>