<h1>自分タスク一覧ページ</h1>
<%= link_to "アカウント編集", edit_user_registration_path %></br>

<%= link_to "新しいタスクの追加", new_my_task_path %></br>

<tr>
  <th><%= sort_link(@q, :created_at, "作成日順") %></th>
</tr></br>

<!--検索フォーム-->
<%= search_form_for @q, url: my_tasks_path do |f| %>
  <%= f.text_field :description_cont %>
  <%= f.submit "検索" %>
<% end %>


  <% @mytasks.each do |mytask| %>
    <iframe
        src="https://www.youtube.com/embed/<%= mytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= mytask.description %>
      <%= link_to '編集', edit_my_task_path(mytask) %>
  <% end %>