<h1 class="text-center">My Tasks</h1>

<!--検索フォーム-->
<div class="text-center">
  <%= search_form_for @q, url: my_tasks_path do |f| %>
    <%= f.text_field :description_cont %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<div class="wrapper">
  <%= render 'shared/nav' %>

  <div class="article">
    <input type="button" value="小さく" onclick="resizeByWidth(160, 90);">
    <input type="button" value="大きく" onclick="resizeByWidth(384, 216);">
    <%= javascript_tag 'resize' %>

    
    <%= sort_link(@q, :created_at, "Created date") %><br />

    <%= form_with(url: my_tasks_path, method: :delete, local: true) do |f| %>
      <%= f.submit "Bulk deletion" %><br />

      <div class="mytask-items row">
        <% @mytasks.each do |mytask| %>
          <div class="item col-sm-12 col-md-3">
            <iframe class="movie"
              src="https://www.youtube.com/embed/<%= mytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
              frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen
            >
            </iframe><br />
            <div class="memo">
              <div class="description"><%= mytask.description %></div>
              <div class="d-flex justify-content-between align-items-center">
                <%= link_to '編集', edit_my_task_path(mytask), class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to '削除', my_task_path(mytask), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                <%= check_box_tag "deletes[#{ mytask.id }]", mytask.id %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>