<!--検索フォーム-->
<%= search_form_for @q, url: my_tasks_path do |f| %>
  <%= f.text_field :description_cont %>
  <%= f.submit "検索" %>
<% end %>

<% if @qmytasks.present? %>
  <% @qmytasks.each do |qmytask| %>
    <iframe
        src="https://www.youtube.com/embed/<%= qmytask.url.last(11)%>" <!-- URl末尾のvideo_idの取得 -->
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
      <%= qmytask.description %>
  <% end %>
<% else %>
  <p>検索結果はありません</p>
<% end %>

