<h1 class="text-center">New Task</h1>
<div class="wrapper">
  <%= render 'shared/nav' %>
  <div class="block text-center">
    <%= form_with model: @mytask, url: my_tasks_path do |f| %>
      <div><%= f.label :url %></div>       
      <div><%= f.text_field :url %></div>  
      <div><%= f.label :description %></div>       
      <div><%= f.text_field :description %></div> 
      <div><%= f.label :folder_id %></div>        
      <div><%= f.collection_select :folder_id, Folder.all, :id, :folder_name %></div>  
      <div><%= f.submit %></div>    
    <% end %>
    <%= link_to 'Back', my_tasks_path %>
  </div>
</div>