<h1>新規タスク</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :folder_name %></div>       
  <div><%= f.text_field :folder_name %></div>  
  <div><%= f.label :status %></div>       
  <div><%= f.text_field :status %></div>  
  <div><%= f.submit %></div>             
<% end %>
<%= link_to '戻る', my_tasks_path %>