<div class="text-center main">
  <div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Account Edit</h1>
    <div class="wrapper">
      <%= render 'shared/nav' %>
      <div class="block text-center">
        <p><%= "follow count: #{@user.follower.count}" %></p>
        <p><%= "follower count: #{@user.followed.count}" %></p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            
          <div class="field">
            <div class="sr-only"><%= f.label :name %></div><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name" %>
          </div>

          <div class="field">
            <div class="sr-only"><%= f.label :email %></div><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <div class="sr-only"><%= f.label :self_introduction %></div><br />
            <%= f.text_field :self_introduction, autofocus: true, autocomplete: "self_introduction", placeholder: "self_introduction" %>
          </div>
            
          <div class="field">
            <div class="sr-only"><%= f.label :password %> <i>(変更したい場合)</i></div><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <div class="sr-only"><%= f.label :password_confirmation %></div><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "new-password" %>
          </div>

          <div class="field">
            <div class="sr-only"><%= f.label :current_password %> <i>(変更にはパスワードが必要です)</i></div><br />
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current-password" %>
          </div>

          <div class="actions btn">
            <%= f.submit "Submit" %>
          </div>

        <% end %>

        <%= link_to "Sign-Out", destroy_user_session_path, method: :delete %>
        <%= link_to "My-Task", :back %>

      </div>
    </div>
  </div>       
</div>