<h1>全ユーザータスク一覧ページ</h1>

<%= link_to "新しいタスクの追加", new_my_task_path %></br>

<input type="button" value="小さく" onclick="resizeByWidth(160, 90);">
<input type="button" value="大きく" onclick="resizeByWidth(384, 216);">
<%= javascript_tag 'resize' %>

<tr>
    <th><%= sort_link(@q, :created_at, "作成日順") %></th>
</tr><br/>

<!--検索フォーム-->
<%= search_form_for @q, url: tasks_path do |f| %>
<%= f.text_field :description_cont %>
<%= f.submit "検索" %>
<% end %>
<% if @tasks.empty? %>
  <p>検索結果はありません</p>
<% end %>
<% @tasks.each do |task| %>
<iframe width="384" height="216" class="mytask"
    src="https://www.youtube.com/embed/<%= task.url.last(11)%>"
    <!-- URl末尾のvideo_idの取得 -->
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen="allowfullscreen"></iframe>
<%= task.description %>
<% end %>