<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
      <li class="nav-item"><%= link_to "", "/my_tasks", class: "nav-link active fa fa-home fa-3x navigation", title: "mytask" %></li>
      <li class="nav-item"><%= link_to "", "/my_tasks/new", class: "nav-link fa fa-plus-square-o fa-3x navigation", title: "new task" %></li>
      <li class="nav-item"><%= link_to "", "/users/edit", class: "nav-link fa fa-user-circle-o fa-3x navigation", title: "account" %></li>
      <li class="nav-item"><%= link_to "", "/tasks", class: "nav-link fa fa-users fa-3x navigation", title: "all user task" %></li>
      <li class="nav-item"><%= link_to "", "/folders", class: "nav-link fa fa-folder-open-o fa-3x navigation", title: "folder" %></li>
      <li class="nav-item"><%= link_to "", "/users", class: "nav-link fa fa-handshake-o fa-3x navigation", title: "follower" %></li>
    </ul>
  </nav>
